/* internal fonts */
@font-face {
  /* nama font family, bisa bebas */
  font-family: "BBH sans";
  src: url("../assets/fonts/BBHSansBartle-Regular.ttf");
}

* {
  font-size: 16px;
  color: white;
}

.bbh-sans {
  /* samakan dengan nama font family nya */
  font-family: "BBH sans";
  color: rgba(30, 255, 0, 0.5);
}
