.static-box {
  position: static;
  width: 100px;
  height: 100px;
  background-color: lightblue;
}
.relative-box {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: lightgreen;
  top: 20px;
  left: 30px;
}

.absolute-box {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: lightcoral;
  top: 20px;
  left: 30px;
}

.fixed-box {
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: lightcyan;
  z-index: 1;
}

.sticky-box {
  position: sticky;
  width: 100px;
  height: 100px;
  background-color: lightseagreen;
  top: 0;
}
